## Data Wrangling Script

In [77]:
import pandas as pd
import matplotlib.pyplot as plt

In [78]:
#load raw data
crime_data = pd.read_csv("../data/crime_1617_raw_data.csv")
crime_data.head()

,Unnamed: 0,X,ID,Case.Number,Date,Block,IUCR,Primary.Type,Description,Location.Description,...,Ward,Community.Area,FBI.Code,X.Coordinate,Y.Coordinate,Year,Updated.On,Latitude,Longitude,Location
0,1,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,...,24,29,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,2,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,...,20,42,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,3,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,...,37,25,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,4,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,...,28,25,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,5,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,...,28,25,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"

### Dealing with Null Values

The first step is to identify all null values in the dataset and remove all of them.

In [80]:
#identify any null values
print(crime_data.isnull().values.any())

True

In [81]:
#drop all null values
crime_data_clean = crime_data.dropna()

### Modify the Data Type

In this step, we first need to update the Date format to datetime. Then, we generate two new columns `Crime_Date` and `Crime_Time` to store the Date and Time information separately from the `Date` column.

For the columns `Arrest` and `Domestic`, we need to map the boolean True/False values to 1/0.

In [82]:
#update the date information
crime_data_clean.Date = pd.to_datetime(crime_data_clean.Date)
crime_data_clean['Crime_Date'] = [d.date() for d in crime_data_clean['Date']]
crime_data_clean['Crime_Time'] = [d.time() for d in crime_data_clean['Date']]

#update boolean to 1/0
crime_data_clean[['Arrest', 'Domestic']] *= 1

#display the dataframe
crime_data_clean.head()

/Users/fanwu/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/Users/fanwu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/fanwu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/fanwu/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,Unnamed: 0,X,ID,Case.Number,Date,Block,IUCR,Primary.Type,Description,Location.Description,...,FBI.Code,X.Coordinate,Y.Coordinate,Year,Updated.On,Latitude,Longitude,Location,Crime_Date,Crime_Time
0,1,3,10508693,HZ250496,2016-05-03 23:40:00,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,...,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)",2016-05-03,23:40:00
1,2,89,10508695,HZ250409,2016-05-03 21:40:00,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,...,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)",2016-05-03,21:40:00
2,3,197,10508697,HZ250503,2016-05-03 23:31:00,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,...,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)",2016-05-03,23:31:00
3,4,673,10508698,HZ250424,2016-05-03 22:10:00,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,...,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)",2016-05-03,22:10:00
4,5,911,10508699,HZ250455,2016-05-03 22:00:00,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,...,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)",2016-05-03,22:00:00

### Classifying Data

Let's check the how many crime types we have in the dataset.

In [83]:
pt = crime_data_clean[['Primary.Type']]
crime_pt_count = pd.DataFrame(pt.groupby('Primary.Type').size().sort_values(ascending=False).rename('Count').reset_index())
crime_pt_count

                         Primary.Type  Count
0                               THEFT  58328
1                             BATTERY  48686
2                     CRIMINAL DAMAGE  30189
3                             ASSAULT  18080
4                       OTHER OFFENSE  15910
5                            BURGLARY  13612
6                  DECEPTIVE PRACTICE  13511
7                             ROBBERY  11611
8                 MOTOR VEHICLE THEFT  11005
9                           NARCOTICS  10664
10                  CRIMINAL TRESPASS   6209
11                  WEAPONS VIOLATION   3398
12         OFFENSE INVOLVING CHILDREN   1953
13             PUBLIC PEACE VIOLATION   1579
14                CRIM SEXUAL ASSAULT   1267
15   INTERFERENCE WITH PUBLIC OFFICER    926
16                       PROSTITUTION    780
17                           HOMICIDE    779
18                        SEX OFFENSE    770
19                              ARSON    504
20               LIQUOR LAW VIOLATION    210
21                         KIDNAPPING    193
22                           GAMBLING    188
23                           STALKING    142
24                       INTIMIDATION    119
25                          OBSCENITY     46
26                       NON-CRIMINAL     41
27  CONCEALED CARRY LICENSE VIOLATION     35
28                   PUBLIC INDECENCY     10
29                  HUMAN TRAFFICKING      7
30                     NON - CRIMINAL      5
31           OTHER NARCOTIC VIOLATION      4
32   NON-CRIMINAL (SUBJECT SPECIFIED)      1

The above table shows that several crime types can be combined together. By refering the classification method from a GitHub data analysis ([link to the ref](https://github.com/cnreddy11/Analysis-and-Prediction-of-Crimes-in-Chicago/blob/master/Chicago%20Crimes%20Analysis.ipynb)), we classify the crime type date as follow:

In [84]:
# modify the Primary.Type
classifiedCrimesData = crime_data_clean
classifiedCrimesData[['Primary.Type']] = crime_data_clean['Primary.Type'].replace(['THEFT', 'BURGLARY', 'MOTOR VEHICLE THEFT', 'ROBBERY' ,'BATTERY', 'CRIM SEXUAL ASSAULT',
                                        'SEX OFFENSE' , 'NARCOTICS','OTHER NARCOTIC VIOLATION' , 'ASSAULT', 'INTIMIDATION' ,
                                        'OTHER OFFENSE' , 'DECEPTIVE PRACTICE' , 'CRIMINAL TRESPASS' , 'WEAPONS VIOLATION' , 
                                        'CONCEALED CARRY LICENSE VIOLATION','PUBLIC INDECENCY', 'PUBLIC PEACE VIOLATION',
                                        'OFFENSE INVOLVING CHILDREN','PROSTITUTION','INTERFERENCE WITH PUBLIC OFFICER','HOMICIDE',
                                        'ARSON', 'CRIMINAL DAMAGE','GAMBLING','LIQUOR LAW VIOLATION','KIDNAPPING','STALKING', 
                                        'OBSCENITY','NON-CRIMINAL','NON-CRIMINAL', 'NON-CRIMINAL (SUBJECT SPECIFIED)','HUMAN TRAFFICKING']
                    ,['THEFT','THEFT','THEFT','THEFT','SEXUAL ASSAULT','SEXUAL ASSAULT','SEXUAL ASSAULT','NARCOTICS','NARCOTICS','ASSAULT','ASSAULT','OTHER OFFENSE','DECETIVE PRACTICE',
                      'CRIMINAL TRESPASS','WEAPONS VIOLATION','WEAPONS VIOLATION','PUBLIC INDECENCY','PUBLIC INDECENCY','OFFENSE INVOLVING CHILDREN','PROSTITUTION','INTERFERENCE WITH PUBLIC OFFICER',
                      'HOMICIDE','ARSON','ARSON','GAMBLING','LIQUOR LAW VIOLATION','KIDNAPPING','STALKING','STALKING','NON-CRIMINAL','NON-CRIMINAL','NON-CRIMINAL','HUMAN TRAFFICKING'])

/Users/fanwu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/fanwu/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

### Export the Clean Data into CSV

Export the clean dataset to the data folder.

In [85]:
classifiedCrimesData.to_csv("../data/crime_1617_clean_data.csv", index=False)